<!-- About Section -->
<section id="left-side-bar">
  <div id="left-cardbox">

    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-lg-6">
          <img src="/pictures/selfie.jpg" class="img-fluid rounded-start" alt="selfie">
        </div>
        <div class="col-lg-6">
          <h1 class="card-header"><strong>About Me</strong></h1>
          <div class="card-body">
            <h3>Hello! My name is Eddie Yang!</h3>
            <p>
              I am a third-year Computer Science student at the University of Toronto Scarborough, driven by a deep
              passion for technology and innovation.
            </p>
          </div>
        </div>
      </div>
      <div class="row g-0">
        <div class="card-body">
          <p>
            My academic journey has been marked by a blend of theoretical
            learning and practical application, providing me with a solid foundation in various areas of computer
            science, including algorithms, data structures, and software development.
          </p>
          <p>
            In addition to my studies, I have gained valuable experience as a teaching assistant. This role has not
            only
            honed my understanding of core computer science concepts but also enhanced my ability to communicate
            complex
            ideas effectively. I take pride in helping my peers succeed and enjoy the collaborative learning
            environment
            that the teaching assistant role fosters.
          </p>
          <p>
            My interest in technology extends beyond the classroom. I am constantly exploring new advancements in
            the
            tech world, from emerging programming languages to cutting-edge software development tools. I am
            particularly fascinated by the potential of artificial intelligence and machine learning, and I actively
            seek opportunities to expand my knowledge and skills in these areas.
          </p>
          <p>
            Overall, my goal is to leverage my education and experiences to contribute meaningfully to the tech
            industry, driving innovation and creating impactful solutions to real-world problems.
          </p>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="row d-md-flex flex-row-reverse">
        <div class="col-lg-6">
          <img src="/pictures/pet.jpg" class="img-fluid rounded-start" alt="pet">
        </div>
        <div class="col-lg-6">
          <h1 class="card-header"><strong>Hobbies</strong></h1>
          <div class="card-body">
            <h3>Eat, Sleep, Repeat</h3>
            <p>
              Is only a part of my routine, as I like to keep it consistent. When I'm not immersed in my studies or
              assisting my peers, I love to unwind and recharge through a variety of hobbies.
            </p>
          </div>
        </div>
      </div>
      <div class="row g-0">
        <div class="card-body">

          <h3>Animals and Pets</h3>
          <p>
            I am a huge fan of fluffy animals! Ever since I got a dog(His name is Teddy), My urge to see and touch
            anything
            cute and squishy! From house hold pets such as cats and dogs, to zoo animals like Pandas and Penguins,
            you name it!
          </p>

          <h3>Fitness</h3>
          <p>
            I have a strong passion for fitness and spend a significant amount of time at the gym. Working out not
            only
            helps me stay physically fit but also provides a great mental boost, keeping me focused and energized.
          </p>

          <h3>Anime</h3>
          <p>
            I'm an avid anime fan, with some of my favorite series being "Jujutsu Kaisen" and "One Piece." The
            intricate
            storylines, compelling characters, and stunning animation captivate me and offer a fantastic escape from
            the
            daily grind.
          </p>

          <h3>Traveling</h3>
          <p>
            Traveling is another major interest of mine. I have a long bucket list of places I want to visit,
            including
            Japan, France, and various parts of Europe. I'm excited about the prospect of experiencing different
            cultures, tasting diverse cuisines, and exploring historical landmarks.
          </p>

          <h3>Nature</h3>
          <p>
            I find solace in nature and enjoy activities like hiking, exploring trails, and visiting lakes. Being
            outdoors and surrounded by natural beauty is incredibly rejuvenating and helps me maintain a balanced
            lifestyle.
          </p>

          <p>
            Through these hobbies, I strive to maintain a well-rounded life, blending physical activity,
            entertainment,
            exploration, and tranquility.
          </p>
        </div>
      </div>
    </div>



  </div>
  <div class="close-button-box" data-bs-theme="light">
    <button id="button-left-close" type="button" class="btn-close" aria-label="Close"></button>
  </div>
</section>
<!-- End About Section -->
