<!-- Icon Section -->
<div id="bottom-bar">
  <div id="icon-box">
    <a id="email" href="mailto:eddi.yang@mail.utoronto.ca" target="_blank">
      <i class="fa-solid fa-envelope"></i>
    </a>
    <a id="instagram" href="https://www.instagram.com/eddie_yanggg?igsh=bjR0dnUxMHd1c3R2&utm_source=qr"
      target="_blank">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a id="github" href="https://github.com/Eyang0612/" target="_blank">
      <i class="fa-brands fa-github"></i>
    </a>
    <a id="linkedin" href="https://www.linkedin.com/in/eddie-yang-56b93527a/" target="_blank">
      <i class="fa-brands fa-linkedin"></i>
    </a>
  </div>
</div>
<!-- End Icon Section -->
