<!-- Hero Section -->
<section id="hero" class="d-flex  flex-column justify-content-center align-items-center">
  <div id="hero-paragraph">
    <h1>Hey there! I'm <span id="name">Eddie</span>.</h1>
    <p>I'm a student at the University of Toronto</p>

  </div>

  <div id="button-horizontal" class="d-flex justify-content-between align-items-end align-items-md-center">
    <button id="button-left" type="button" class="btn btn-light">&Lt; About</button>
    <button id="button-right" type="button" class="btn btn-light">Skills &Gt; </button>
  </div>

  <button id="theme-button" class="btn btn-light"><i class="fa-solid fa-moon"></i></button>
</section>
<!-- End Hero Section -->
