<!-- Hero Section -->
<section id="hero">
  <div id="hero-paragraph">
    <h1>Hey there! I'm <span id="name">Eddie Yang</span>.</h1>
    <p>I'm a student at the University of Toronto</p>
  </div>

  <div id="button-grid">
    <div id="button-left-container">
      <button id="button-left" type="button" class="btn btn-light">&Lt; About Me</button>
      <button id="button-left-2" type="button" class="btn btn-light">&Lt; Skills</button>
    </div>
    <div id="button-right-container">
      <button id="button-right" type="button" class="btn btn-light">Experience &Gt; </button>
      <button id="button-right-2" type="button" class="btn btn-light">Projects &Gt; </button>
    </div>
  </div>

  <button id="theme-button" class="btn btn-light"><i class="fa-solid fa-moon"></i></button>
</section>
<!-- End Hero Section -->
