<!-- Loading Section  -->
<div id="loader">
  <div class="spinner-border" role="status">
  </div>
  <strong class="text-center" role="status">Loading...</strong>
</div>

<div id="preloader">
  <h1 class="bs-dark-text-emphasis">Welcome To My Portfolio!</h1>
  <button id="preloader-button" type="button" class="btn btn-outline-dark">Get Started <i
      class="fa-solid fa-chevron-down fa-bounce"
      style="--fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1; --fa-bounce-jump-scale-x: 1; --fa-bounce-jump-scale-y: 1; --fa-bounce-land-scale-x: 1; --fa-bounce-land-scale-y: 1;"></i></button>
</div>
<!-- End Loading Section  -->
