<!-- Skills Section -->
<section id="right-side-bar">
  <div class="close-button-box" data-bs-theme="light">
    <button id="button-right-close" type="button" class="btn-close" aria-label="Close"></button>
  </div>
  <div id="right-cardbox" class="resume">

    <div class="container">
      <h1 class="resume-header"><strong> Skills Showcase</strong></h1>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row">



        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>Bachelor of Science &amp; Computer Science</h4>
          <h5>2021 - 2026</h5>
          <p><em>University of Toronto Scarborough, Toronto, ON, CA</em></p>
        </div><!-- Edn Resume Item -->




        <h3 class="resume-title">Experience</h3>
        <div class="resume-item">
          <h4>Web Director</h4>
          <h5>April 2024 - Present</h5>
          <p><em> Management Technology Association University of Toronto Scarborough</em></p>
          <ul>
            <li>Implemented a design-first approach, generated mock-ups with Figma, and updated the official website
              with HTML, CSS, and Javascript, enhancing user experience and club engagement.</li>
          </ul>
        </div><!-- Edn Resume Item -->

        <div class="resume-item">
          <h4>Software Developer Intern</h4>
          <h5>May 2024 - Present</h5>
          <p><em>Foturn Precicast Component Co., Ltd., Dalian, China</em></p>
          <ul>
            <li>Inserted and organized over 2000+ item entries with Custom File scripting and SQL, providing clear
              component info visualization and improving ERP system efficiency.</li>
            <li>Contributed to integrating a Manufacturing Execution System (MES) using VB.NET and SQL server,
              enhancing operational efficiency for component data management systems.</li>
          </ul>
        </div><!-- Edn Resume Item -->

        <div class="resume-item">
          <h4>Course Representative</h4>
          <h5>Oct 2023 - Dec 2023</h5>
          <p><em> AMACSS Association | University of Toronto </em></p>
          <ul>
            <li>Hosted and led a Discrete Mathematics review seminar, effectively presenting complex concepts to
              300+ students, reducing class drop rate</li>
            <li>Organized seminar content and materials with club members, ensuring comprehensive coverage of key
              topics relevant to the curriculum, and demonstrating strong teamwork and writing skills.</li>
          </ul>
        </div><!-- Edn Resume Item -->


        <h3 class="resume-title">Projects</h3>
        <div class="resume-item">
          <h4>Photo Location Guesser Full Stack Web Project, GeoSnap</h4>
          <div>
            <a class="btn btn-outline-dark" href="https://github.com/Eyang0612/GeoSnap" role="button"
              target="_blank">Check it Out! <i class="fa-solid fa-right-from-bracket"></i></a>
            <h5>April 2024 - Present</h5>
          </div>
          <p><em>HTML,CSS,Javascript, React, Node, Express, MongoDB</em></p>
          <ul>
            <li>Developed a full-stack web application with a responsive user interface through React and
              JavaScript, featuring advanced user authentication, protected routing, and full CRUD operations.</li>
          </ul>
        </div><!-- Edn Resume Item -->

        <div class="resume-item">
          <h4>Course Management Android Mobile App, EduPortal</h4>
          <div>
            <a class="btn btn-outline-dark" href="https://github.com/Eyang0612/EduPortal-CSCB07" role="button"
              target="_blank">Check it Out! <i class="fa-solid fa-right-from-bracket"></i></a>
            <h5>May 2024 - Present</h5>
          </div>
          <p><em>Java, Firebase, Andriod Studio, JUnit, Kotlin, Eclipse, Git/Github</em></p>
          <ul>
            <li>Employed an Android Mobile app with Android Studio, Java and Eclipse IDE, adhered to OOP, SOLID
              design principles and clean code practices to ensure course material maintainability.</li>
          </ul>
        </div><!-- Edn Resume Item -->

        <div class="resume-item">
          <h4>3D Personal Website</h4>
          <div>
            <a class="btn btn-outline-dark" href="https://github.com/Eyang0612/PersonalWebsite" role="button"
              target="_blank">Check it Out! <i class="fa-solid fa-right-from-bracket"></i></a>
            <h5>June 2024 - Present</h5>
          </div>
          <p><em>TypeScript, Three.js, GSAP, Blender</em></p>
          <ul>
            <li>Utilized TypeScript for functionality, Blender for 3D modelling, Three.js for interactive 3D
              graphics and rendering, and Bootstrap for responsive design, creating a visually engaging personal
              website.</li>
          </ul>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- End Skill Section -->
